/* #region Homepage*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* 👈 allows the columns to move vertically if needed */
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* 👈 prevent horizontal scroll */
  box-sizing: border-box;
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(46, 52, 64, 0.2) 100%);
}

.home-image {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 8px;
  margin-left: 20px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 2rem 20px;
}

.home-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  margin: 2rem 20px;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 10px;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(53, 53, 53);
}

br {
   display: block;
   margin: 10px 0;
}

.home-blob {
  position: absolute;
  width: 2000px;
  height: 2000px;
  top: 60px;
  right: -200px;
  z-index: -1;
  opacity: 0.6;
}

@media (max-width: 768px) {
  /* Improve text size and spacing for smaller screens */
  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  .homepage-container {
    flex-direction: column;
  }

  .homepage-right {
    display: none; /* hide small calendar, navigate to full page instead */
  }
}
/* #endregion */
